body{
    background-color: #F20;
    margin: 0;
    padding: 0;
}

header{
    width: 100px;
    height: 160px;
}

div{
    color: blue;
}

.div7{
    color:red;
}

.div8{
    width:100px;
}

.div5{
    color:orange;
    font-size:18px;
}

.div6{
    background-color: white;
}